*{
    margin:0;
    padding:0;
}

.raya{
    width:85%; 
    margin-left: auto;
    margin-right: auto;
    border: 0; height: 12px; box-shadow: inset 0 12px 12px -12px orange;
}

header{
    position: fixed;
    width: 100%;
    max-height: 82px;
    background: rgba(248, 123, 20, 1);
    z-index: 100;
}

#imagen{
    width: 18%;
    position:relative;
    display: inline-block;
    left:2%;
}

#barra{
    position:relative;
    display:inline-block;
    left: 8%; 
    top: 5px;
    width: 70%;
    height: 44px;
}

.buscador{
    position: relative;
    top:5px;
}

#barra #menu{

    width:100%;
    height:43px;

}

nav{
    margin:auto;
    width:100%;
    position: relative; /*para tratar de centrar el menu*/
    left:0px;

}


/* forma a los botones */
nav ul{
    list-style: none; /* para quitar las viñetas */

}


/* pra todas las cajas */
nav ul li a{
    background: transparent;

    text-decoration: none;
    display:block;
    width:100%;
    position:relative;
    font-size: 18px;
}
nav li{
    position: relative;
}

nav ul li ul {
    position: absolute;
}

nav ul li ul{
    width: 100%;
}

nav ul .iz a{

    padding: 10px 17px 10px 17px;
}

nav ul .de a{

    padding: 10px 5px 10px 10px;
}

/* padding para las subcajas */

nav  ul  li  ul  li  a{
    width: auto;
    text-align: center;
}

/* para ponerlos en forma horizontal */

/* el de son los del lado izquierdo y el iz son los del lado derecho */
nav > ul > .iz{
    float:left;
}

nav > ul > .de{
    float:right;
}


.c{
    display: none;
}

/* cambiar el color cuando pasamos el mouse 
nav ul li .co:hover{
    background:#2E2EFE;
    padding: 10px 20px 10px 20px;
}*/

/* para esconder los submenus */
nav > ul > li > ul{
    display:none;
}


.co{
    color:#8d1042 !important;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
}

.co-linea{
    color:#8d1042;
    font-size: 25px;
    font-weight: bold;
}

.co:hover{
    color:white;
    border-color: red;
}




/* estilos de la venta de registrarse*/
$background_color: #404142;
$gmail_color: #D44638;
$facebook_color: #3880FF;

#contenedor-nl-1 {
    background: rgba(0, 0, 0, 0.4);
    position:fixed;
    width:100%;
    height:100vh;
    display:flex;
    z-index:200;
}

#contenedor-nl-2 {
    background: white;
  overflow: hidden;
  
  width: 656px;
  height: 400px;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 40px black;
  color: #8b8c8d;
  font-size: 0;
    margin: auto;



.box-part {
    display: inline-block;
    position: relative;
    margin-left:auto !important;
    margin-right:auto !important;
    vertical-align: top;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    &#bp-right {
      background: url("/images/cat4.jpg") no-repeat top left;
      background-size: cover;
      border-left: 1px solid #eee;
    }
  }
  .box-messages {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .box-error-message {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 0;
    line-height: 32px;
    padding: 0 12px;
    text-align: center;
    width: 100%;
    font-size: 11px;
    color: white;
    background: #F38181;
  }
  .partition {
    width: 100%;
    height: 100%;
    margin-left:auto !important;
    margin-right:auto !important;
    .partition-title {
      box-sizing: border-box;
      padding: 30px;
      width: 100%;
      text-align: center;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 300;
    }
    .partition-form {
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
  input[type=password],
  input[type=text] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 4px;
    width: 100%;
    font-size: 12px;
    line-height: 2;
    border: 0;
    border-bottom: 1px solid #DDDEDF;
    padding: 4px 8px;
    font-family: inherit;
    transition: 0.5s all;
    outline: none;
  }
  button {
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    min-width: 140px;
    margin-top: 8px;
    color: #8b8c8d;
    cursor: pointer;
    border: 1px solid #DDDEDF;
    text-transform: uppercase;
    transition: 0.1s all;
    font-size: 10px;
    outline: none;
    &:hover {
      border-color: mix(#DDDEDF, black, 90%);
      color: mix(#8b8c8d, black, 80%);
    }
  }
  .large-btn {
    width: 100%;
    background: white;
    span {
      font-weight: 600;
    }
    &:hover {
      color: white !important;
    }
  }
  .button-set {
    margin-bottom: 8px;
    display:flex;
  }
  #register-btn{
    border-color: #E38D13 #E38D13 #E38D13;
    margin: auto;
    color: #d35400;
    &:hover {
        color: #ffffff;
        background-color: #dc7733;
        background-image: linear-gradient(to bottom, #dc7733, #dc7733);
        border-color: #E38D13 #E38D13 #E38D13;
      }
  }
  .facebook-btn {
    border-color: $facebook_color;
    color: $facebook_color;
    &:hover {
      border-color: $facebook_color;
      background: $facebook_color;
    }
  }
  .gmail-btn {
    border-color: $gmail_color;
    color: $gmail_color;
    &:hover {
      border-color: $gmail_color;
      background: $gmail_color;
    }
  }
  .autocomplete-fix {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
  }
}
.pop-out-enter-active,
.pop-out-leave-active {
  transition: all 0.5s;
}
.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  transform: translateY(24px);
}

/* estilos de la venta de ingresar*/
$background_color: #404142;
$gmail_color: #D44638;
$facebook_color: #3880FF;

#contenedor-nl-1-ing {
    background: rgba(0, 0, 0, 0.4);
    position:fixed;
    width:100%;
    height:100vh;
    display:flex;
    z-index:200;
}

#contenedor-nl-2-ing {
    background: white;
  overflow: hidden;
  
  width: 656px;
  height: 400px;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 0 40px black;
  color: #8b8c8d;
  font-size: 0;
    margin: auto;



.box-part {
    display: inline-block;
    position: relative;
    margin-left:auto !important;
    margin-right:auto !important;
    vertical-align: top;
    box-sizing: border-box;
    height: 100%;
    width: 50%;
    &#bp-right-ing {
      background: url("/images/cat9.png") no-repeat top left;
      background-size: cover;
      border-left: 1px solid #eee;
    }
  }
  .box-messages {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
  .box-error-message {
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
    height: 0;
    line-height: 32px;
    padding: 0 12px;
    text-align: center;
    width: 100%;
    font-size: 11px;
    color: white;
    background: #F38181;
  }
  .partition {
    width: 100%;
    height: 100%;
    margin-left:auto !important;
    margin-right:auto !important;
    .partition-title {
      box-sizing: border-box;
      padding: 30px;
      width: 100%;
      text-align: center;
      letter-spacing: 1px;
      font-size: 20px;
      font-weight: 300;
    }
    .partition-form {
      padding: 0 20px;
      box-sizing: border-box;
    }
  }
  input[type=password],
  input[type=text] {
    display: block;
    box-sizing: border-box;
    margin-bottom: 4px;
    width: 100%;
    font-size: 12px;
    line-height: 2;
    border: 0;
    border-bottom: 1px solid #DDDEDF;
    padding: 4px 8px;
    font-family: inherit;
    transition: 0.5s all;
    outline: none;
  }
  button {
    background: white;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    letter-spacing: 1px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    min-width: 140px;
    margin-top: 8px;
    color: #8b8c8d;
    cursor: pointer;
    border: 1px solid #DDDEDF;
    text-transform: uppercase;
    transition: 0.1s all;
    font-size: 10px;
    outline: none;
    &:hover {
      border-color: mix(#DDDEDF, black, 90%);
      color: mix(#8b8c8d, black, 80%);
    }
  }
  .large-btn {
    width: 100%;
    background: white;
    span {
      font-weight: 600;
    }
    &:hover {
      color: white !important;
    }
  }
  .button-set {
    margin-bottom: 8px;
    display:flex;
  }
  #register-btn-ing{
    border-color: #E38D13 #E38D13 #E38D13;
    margin: auto;
    color: #d35400;
    &:hover {
        color: #ffffff;
        background-color: #dc7733;
        background-image: linear-gradient(to bottom, #dc7733, #dc7733);
        border-color: #E38D13 #E38D13 #E38D13;
      }
  }
  .facebook-btn {
    border-color: $facebook_color;
    color: $facebook_color;
    &:hover {
      border-color: $facebook_color;
      background: $facebook_color;
    }
  }
  .gmail-btn {
    border-color: $gmail_color;
    color: $gmail_color;
    &:hover {
      border-color: $gmail_color;
      background: $gmail_color;
    }
  }
  .autocomplete-fix {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    opacity: 0;
    width: 0;
    height: 0;
    left: 0;
    top: 0;
  }
}
.pop-out-enter-active,
.pop-out-leave-active {
  transition: all 0.5s;
}
.pop-out-enter,
.pop-out-leave-active {
  opacity: 0;
  transform: translateY(24px);
}


/* ------------ Barra Lateral ------------*/
#barra_lateral {
    width: 18.6%;
    height: 100%;
    background:#f4f2f0;
    position: fixed;
    z-index: 99;
    top: 83px;
    display: block;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;padding-top:3%;
    padding-top:3%;
  }

.letra-lateral{
    color:#8d1042;
    font-size: 20px;
    font-weight: bold;
    &:hover{
        color:#8d1042;
        text-decoration:underline;
    }
}

.sub-item{
    color:black;
    padding-left:15%
  }

.checkbox-filtro{
  padding-left: 18%;
}
  /* ------------------------------------------------ */
  
  /* ------------- Contenido -------------- */
  
  #seccion {
    width: 81.5%;
    height:100%;
    background: white;
    position: fixed;
    z-index: 99;
    top: 83px;
    left: 18.5%;
    display: inline-block;
    padding: 2% 2% 0 2%;
    overflow-y: scroll;
  }


/* primera caja */
#uno{
    width:100%;
    height: 657px;
    background: url("imagen/slide3.jpg") no-repeat  center center;
    background-size: 100% 657px;
    position: relative;
}

#contenido {
    position: relative;
    width: 95%;
    top: 28%;
    left: 5%;
  }

#letra{
    color: white
}

.bot{
    font-size: 20px;
    font-weight: bold;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

/* segunda caja */


/* segunda caja */
#bloques{
    width:100%;
    height: 1200px;
    background: white;
    position: relative;
}

.bloque {
    width: 100%;
    height: 600px;
    background: #F0F3F4;
    position: relative;
  }
  
.titulo{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 20px;
    text-transform:uppercase;
  }

.texto-titulo{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.producto{
    width: 33%;
    float: left;
}


.x{
    width: 65%;
    height: 400px;
    margin-top: 120px;
    margin-left: auto;
    margin-right: auto
}

.x1{
    width: 100%;
    height: 200px;
    background-image: url('imagen/hombre.jpg') ;
    background-size: 100% 200px;
    border-radius: 60% 60% 60% 60%;
}

.x2{
    width: 100%;
    height: 200px;
}

.subtitulo{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
}

.cont{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.btn.btn-primary.enlaton.bot1 {
    color: #ffffff;
    background-color: #6d3483;
    background-image: linear-gradient(to bottom, #7742c7, #802da1);
    border-color: #712b99 #712b99 #712b99;
    font-size: 15px;
    font-weight: bold;
    padding-left: 3%;
    padding-right: 3%;
}
.btn.btn-primary.enlaton:hover.bot1 {
    color: #ffffff;
    background-color: #802da1;
    background-image: linear-gradient(to bottom, #802da1, #802da1);
    border-color: #712b99 #712b99 #712b99;
}

/* pie de la pagina */
footer{
    background: #273746;
    width:100%;
    height: auto;
    display: block;
    position: relative;
    font-size: 15px;
}



/* Aqui termina los estilos de la pagina de inicio, encabezado y pie de pagina */

/* Registro */
#cuerpo-registro{
    background: url("imagen/cat4.jpg") no-repeat  center center fixed;
    background-size: cover;
    z-index:0;
}
/* Aplca el filtro a la imagen de fondo */
#cuerpo-registro::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    z-index:-1;
}

.formulario{
    position: relative;
    background: white;
    width:40%;
    margin-left: auto;
    margin-right: auto;
    padding-top:2%;
    padding-bottom:2%;
    top: 150px;     
}

.row{
    margin: 3% 9% 0 9%;
}

#logo-registro{
    width: 50%;
    height: 50%;
    margin-left: auto;
    margin-right: auto;
}

.row .cajas, .row .fecha{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: normal;
    color:#797D7F;
    margin-left:2%;
    margin-right:7%;
}

label a{
    color: green;
    text-decoration: underline;
}

.row .fecha{
    width: 33%;
}

.btn.btn-warning.enlaton2 {
    color: #ffffff;
    background-color: #d35400;
    background-image: linear-gradient(to bottom, #f39d12, #dc7733);
    border-color: #E38D13 #E38D13 #E38D13;
}
.btn.btn-warning.enlaton2:hover {
    color: #ffffff;
    background-color: #dc7733;
    background-image: linear-gradient(to bottom, #dc7733, #dc7733);
    border-color: #E38D13 #E38D13 #E38D13;
}

.centrar{
    margin-left: auto;
    margin-right: auto;
}


/* pagina de ingresar.php */
#cuerpo-ingresar{
    background: url("imagen/cat5.jpg") no-repeat  center center fixed;
    background-size: cover;
    z-index:0;
}
/* Aplca el filtro a la imagen de fondo */
#cuerpo-ingresar::after {
    content:"";
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.4);
    z-index:-1;
}
/*--------------------------------------*/

/* estilo para cuenta.php */
#uno-cuenta{
    position: relative;
    width:100%;
    height: 590px;
    background-color: #1fc8db;
    background-image: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    color: white;
    opacity: 0.95;
    text-align: center;
}

#dos-cuenta{
    width:100%;
    height: 500px;
    background: #F0F3F4;
    position: relative;
}

#a-datos{

    position: relative;
    width: 30%;
    height: 500px;
    float: left;
}

#habilitado, #deshabilitado{

    position: relative;
    width: 70%;
    height: 500px;
    float: left;
}

#b1,#b2{
    width: 45%;
    height:500px;
    position:relative;
    float:left;
    padding-top: 5px;
}


.fecha2{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    width: 33%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
    float: left;
}

#habilitado{
    display: block;
}

#deshabilitado{
    display: none;
}

.enlato.bot1{
    color: #ffffff;
    background-color: #6d3483;
    background-image: linear-gradient(to bottom, #7742c7, #802da1);
    border-color: #712b99 #712b99 #712b99;
}

.enlato:hover.bot1 {
    color: #ffffff;
    background-color: #802da1;
    background-image: linear-gradient(to bottom, #802da1, #802da1);
    border-color: #712b99 #712b99 #712b99;
}

.tamaño{
    font-size: 18px;
    padding: 4% 0 4% 0
}

#cuerpo-consultar{
    background: url("imagen/cat2.jpg") no-repeat  center center fixed;
    background-size: cover;
    z-index:0;
}


/* pagina de consultas */
#busc{
    top:130px;
    width: 75%;
}

#consulta-tabla{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    
}


#consulta{
    border-collapse: collapse;
    font-size: 14px;
}

#consulta td, #th{
    border: 1px solid #ddd;
    padding: 8px;
    width: 100%
}

#consulta tr:nth-child(even){background-color: #f2f2f2;}

#consulta tr:hover {background-color: #ddd;}

#th{
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
    background: #48C9B0;
    color: white;
    font-size: 17px;
}


.so{
  color:white !important;
  cursor: pointer;
}

.consultar{
  background:red;
  height: 850px
}

@media screen and (max-width: 1550px) and (max-height: 968px){
    #cuerpo-registro::after{
        width:100%;
        height:150%;
    }
}